on:
  push:
  schedule:
    - cron: '0 0 */1 * *'

name: Test Registry

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: docker-practice/actions-setup-docker@master
      - run: docker version
      - run: docker info
      - name: Test
        run: |
          registrys="
          docker.io
          registry-1.docker.io
          mirror.baidubce.com
          hub-mirror.c.163.com
          docker.mirrors.ustc.edu.cn
          mirror.gcr.io
          $ALIYUN_MIRROR
          "
          image="library/nginx:1.19.2-alpine"

          for registry in $registrys
          do
             docker pull $registry/$image \
               && (echo -e "\033[32m$registry is good\033[0m" \
                  ; echo "::warning file=README.md,line=1,col=0::OK [ $registry ] is good") \
               || (echo -e "\033[31m$registry is outdated\033[0m" \
                  ; echo "::error file=README.md,line=1,col=0::X [ $registry ] is outdated")
             docker rmi $registry/$image || true
          done
        env:
          ALIYUN_MIRROR: ${{secrets.ALIYUN_MIRROR}}
